<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Total</th>
      <th>Seller</th>
      <th>Seller address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @product.item %></td>
        <td><%= @product.price %></td>
        <td><%= @product.total %></td>
        <td><%= @product.seller.name %></td>
        <td><%= @product.seller.address %></td>
        <td><%= link_to 'Edit', edit_product_path(@product) %></td>
      </tr>
  </tbody>
</table>

<% @buyer.each do |buyer| %>
<p>
  <strong>Buyer:</strong>
  <%= buyer.buyer.name %>
</p>
<%end%>
<%= link_to 'Back', products_path %>
