<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @product.item %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Total:</strong>
  <%= @product.total %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @product.seller_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
